'.idea'
# Default ignored files
*.xml

*.class
*.jar
*.var
*.ear
*.log

*.iml
.idea/
/out/
.idea
*.log
*.properties
*.yaml
/Problems/
/Problems (1)/
/Problems (2)/
/Problems (3)/
/Problems (4)/
/Problems (5)/
/Problems (6)/
/Problems (7)/
*.css
*.html
*.bin
*.gradle
*.lock
*.bat
*.tmp
gradlew
/Tic-Tac-Toe/task/


